<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container-fluid">
    <div th:fragment="header">
        <nav class="navbar navbar-inverse bg-primary">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/orders}">Orders</a>
                    <a class="navbar-brand" href="#" th:href="@{/orderBooks}">Order Books</a>
                    <a class="navbar-brand" href="#" onClick="$('#enableTradingDialog').dialog('open');">Enable Trading</a>
                </div>
            </div>
        </nav>
        <hr/>
		<div th:if="${error != null}" class="row">
			<p><span class="left-small-buffer alert-danger" th:text="${error}"></span></p>
		</div>
		<div th:if="${info != null}" class="row">
			<p><span class="left-small-buffer alert-success" th:text="${info}"></span></p>
		</div>
       	<div id="enableTradingDialog" class="dialog" title="Enter key for envrypted API files">
			<form th:action="@{/enableTrading}" method="post" class="form-inline">
				<label class="sr-only" for="secretKey"></label>
				<div class="input-group">
					<span class="input-group-addon">Key</span>
					<input type="password" class="form-control" name="secretKey" id="secretKey"/>
					<span class="input-group-addon"><button type="submit" class="btn btn-primary">Enable Trading</button></span>
				</div>
			</form>
		</div>
		<div id="placeOrderDialog" class="dialog">
			<!--/*/ <th:block th:include="fragments/placeOrder :: placeOrder"></th:block> /*/-->
		</div>
		<script>
			$( document ).ready(function() {
				$("#enableTradingDialog").dialog({
				    autoOpen: false,
				    show: 'slide',
				    resizable: false,
				    stack: true,
				    position: {my: "center top", at:"center top", of: window },
				    height: 'auto',
				    width: '500px',
				    modal: true
				});
			});
			$( document ).ready(function() {
				$("#placeOrderDialog").dialog({
				    autoOpen: false,
				    show: 'slide',
				    resizable: false,
				    stack: true,
				    position: {my: "center top", at:"center top", of: window },
				    height: 'auto',
				    width: 'auto',
				    modal: true
				});
			});
		</script>
    </div>
</div>

</body>
</html>
