<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/css/jquery-ui.css"
          th:href="@{/static/css/jquery-ui.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/static/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/bootstrap/css/theme.css"
          th:href="@{/static/bootstrap/css/theme.css}"
          rel="stylesheet" media="screen" />
    <script src="../static/js/jquery-3.2.1.min.js"
          th:src="@{/static/js/jquery-3.2.1.min.js}"></script>
    <script src="../static/js/jquery-ui.min.js"
          th:src="@{/static/js/jquery-ui.min.js}"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"
          th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
	<script src="../static/js/angular.min.js"
          th:src="@{/static/js/angular.min.js}"></script>
	<script src="../static/js/ng-stomp.standalone.min.js"
          th:src="@{/static/js/ng-stomp.standalone.min.js}"></script>
	<script src="../static/js/orderBook.js"
          th:src="@{/static/js/orderBook.js}"></script>
	<link href="../static/css/cryptomon.css"
          th:href="@{/static/css/cryptomon.css}" rel="stylesheet" media="screen"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />                
</head>
<body>

</body>
</html>