<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container-fluid">
    <div th:fragment="header">
        <nav class="navbar navbar-inverse bg-primary">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/orders}">Orders</a>
                    <a class="navbar-brand" href="#" th:href="@{/orderBooks}">Order Books</a>
                    <a class="navbar-brand" href="#" onClick="$('#enableTrading').dialog('open');">Enable Trading</a>
                </div>
            </div>
        </nav>
        <hr/>
       	<div id="enableTrading" title="Enter key for envrypted API files">
			<form th:action="@{/enableTrading}" method="post" class="form-inline">
				<label class="sr-only" for="secretKey"></label>
				<div class="input-group">
					<span class="input-group-addon">Key</span>
					<input type="password" class="form-control" name="secretKey" id="secretKey"/>
					<span class="input-group-addon"><button type="submit" class="btn btn-primary">Enable Trading</button></span>
				</div>
			</form>
		</div>
		<script>
			$( document ).ready(function() {
				$("#enableTrading").dialog({
				    autoOpen: false,
				    show: 'slide',
				    resizable: false,
				    position: 'center',
				    stack: true,
				    height: 'auto',
				    width: '500px',
				    modal: true
				});
			});
		</script>
    </div>
</div>

</body>
</html>
