<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container-fluid">
	<div th:fragment="orderBook">
		<div class="orderBooks">
			<table width="100%">
				<tr>
					<td width="{{100/exchange.orderBooks.length}}%" ng-repeat="orderBook in exchange.orderBooks">
						<div class="borded-padded-container">
							<table ng-class="{'table' : true, 'table-striped' : true, 'table-condensed' : true, 'table-warning' : orderBook.stale, 'table-danger' : !orderBook.valid}">
								<thead>	
									<tr>
										<th colspan="4">{{orderBook.currencyPair}} - {{orderBook.lastUpdated}}</th>
									</tr>
									<tr>
										<th colspan="2">Asks</th>
										<th colspan="2">Bids</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="obEntry in orderBook.obEntries">
										<td>{{obEntry.askPrice}}</td>
										<td>{{obEntry.askAmount}}</td>
										<td>{{obEntry.bidPrice}}</td>
										<td>{{obEntry.bidAmount}}</td>
									</tr>
								</tbody>										
							</table>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

</body>
</html>
