.top-buffer { margin-top:20px; }

.top-small-buffer { margin-top:5px; }

.bottom-small-buffer { margin-bottom:5px; }

.padded { padding: 5px; }

.table-condensed { font-size: 10px; }

.exchange-container
{
    border-radius: .2em;
    border: 1px solid #cccccc;
	margin-bottom: .5em;

    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

.borded-padded-container
{
    border-radius: .2em;
    border: 1px solid #cccccc;
	margin-right: .4em;
	margin-bottom: .2em;
	
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}