.top-buffer { margin-top:2emx; }

.top-small-buffer { margin-top:1em; }

.left-small-buffer { margin-left:1em; }

.bottom-small-buffer { margin-bottom:1em; }

.padded { padding: .5em; }

.table-condensed { font-size: 10px; }

.exchange-container
{
    border-radius: .2em;
    border: 1px solid #cccccc;
	margin-top: .5em;

    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

.order-container
{
    border-radius: .2em;
    border: 1px solid #cccccc;
	margin-top: .5em;

    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

.borded-padded-container
{
    border-radius: .2em;
    border: 1px solid #cccccc;
	margin-right: .4em;
	margin-bottom: .2em;
	
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

.table-centred
{
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}