<!DOCTYPE html>
<html>
<head lang="en">
<title>CryptoMonitor</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div class="orderBook" ng-app="obApp" ng-controller="obController">
		   <p>OrderBook <span>{{orderBook.market + " - " + orderBook.currencyPair}}</span></p>
			<table class="table table-striped">
				<tr>
					<th colspan="2">
						Asks
					</th>
					<th colspan="2">
						Bids
					</th>
				</tr>
				<tr ng-repeat="obEntry in orderBook.obEntries">
					<td>
						{{obEntry.askPrice}}
					</td>
					<td>
						{{obEntry.askAmount}}
					</td>
					<td>
						{{obEntry.bidPrice}}
					</td>
					<td>
						{{obEntry.bidAmount}}
					</td>
				</tr>
  			</table>
		</div>  	
	</div>
</body>
</html>