<!DOCTYPE html>
<html>
<head lang="en">
<title>CryptoMonitor</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div class="orderBook" ng-app="obApp" ng-controller="obController">
		   	<p>OrderBooks</p>
		   	<table>
		   		<tr ng-repeat="orderBook in orderBooks" ng-switch="" on="$index % 3">
		   			<td ng-switch-when="0">
		   				<style type="text/css">
    						.echo-label:after {
        						content: {{orderBooks[$index].market}};
    						}
						</style>
		   				<div class="rounded-border">
		   					<span class="label-container">{{orderBooks[$index].market + " - " + orderBooks[$index].currencyPair}}</span>
							<table class="table table-striped table-condensed">
								<tr>
									<th colspan="2">
										Asks
									</th>
									<th colspan="2">
										Bids
									</th>
								</tr>
								<tr ng-repeat="obEntry in orderBooks[$index].obEntries">
									<td>
										{{obEntry.askPrice}}
									</td>
									<td>
										{{obEntry.askAmount}}
									</td>
									<td>
										{{obEntry.bidPrice}}
									</td>
									<td>
										{{obEntry.bidAmount}}
									</td>
								</tr>
				  			</table>
			  			</div>
		   			</td>
		   			<td ng-switch-when="0">
		   				<div class="rounded-border">
		   					<span class="label-container">{{orderBooks[$index+1].market + " - " + orderBooks[$index+1].currencyPair}}</span>
							<table class="table table-striped table-condensed">
								<tr>
									<th colspan="2">
										Asks
									</th>
									<th colspan="2">
										Bids
									</th>
								</tr>
								<tr ng-repeat="obEntry in orderBooks[$index+1].obEntries">
									<td>
										{{obEntry.askPrice}}
									</td>
									<td>
										{{obEntry.askAmount}}
									</td>
									<td>
										{{obEntry.bidPrice}}
									</td>
									<td>
										{{obEntry.bidAmount}}
									</td>
								</tr>
				  			</table>
				  		</div>
		   			</td>
		   			<td ng-switch-when="0">
		   				<div class="rounded-border">
		   					<span class="label-container">{{orderBooks[$index+2].market + " - " + orderBooks[$index+2].currencyPair}}</span>
							<table class="table table-striped table-condensed">
								<tr>
									<th colspan="2">
										Asks
									</th>
									<th colspan="2">
										Bids
									</th>
								</tr>
								<tr ng-repeat="obEntry in orderBooks[$index+2].obEntries">
									<td>
										{{obEntry.askPrice}}
									</td>
									<td>
										{{obEntry.askAmount}}
									</td>
									<td>
										{{obEntry.bidPrice}}
									</td>
									<td>
										{{obEntry.bidAmount}}
									</td>
								</tr>
				  			</table>
				  		</div>
		   			</td>
	   			</tr>
		   	</table>
		</div>  	
	</div>
</body>
</html>