<!DOCTYPE html>
<html>
<head lang="en">
<title>CryptoMonitor</title>
<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body ng-app="cryptoApp" th:with="exchangesContainerContentLoc=${'fragments/orderHistory'},exchangesContainerFragment=${'orderHistory'}">
	<div class="container-fluid">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<div class="container-fluid">
			<div class="arbStatus row">
			</div>
			<div class="row">
				<!--/*/ <th:block th:include="fragments/placeOrder :: placeOrder"></th:block> /*/-->
			</div>
			<hr/>
			<!--/*/ <th:block th:include="fragments/orderController :: orderController"></th:block> /*/-->
			<!--/*/ <th:block th:include="fragments/exchangeController :: exchangeController"></th:block> /*/-->
		</div>
	</div>
</body>
</html>